body{
    background-color: #d5e1ef;
    height: 100vh;
    text-align: center;
    

}
.card{
    width:302px;
    height:470px;
    padding: 1rem;
    padding-bottom: 3rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 5px 5px rgba(50, 49, 49, 0.062); 
    border-radius: 10px;
    position: fixed;
    margin: auto;
    inset: 0;
} 

img{
   width: 100%;
   border-radius: 10px;
   
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(29, 29, 49);
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.523);
}
